{% extends "base_generic.html" %}

{% block CSS %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/WriteReviewStyles.css' %}">
{% endblock %}

  {% block Bootstrap %}
    <!-- Bootstrap Stuff -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  {% endblock %}

{% block content %}

<div id="body-elements">
<!------ Star Rating ---------->
<h1>{{course_name}}</h1>
<h5>How would you rate this class?</h5>
  <div class="review-block-rate">
          <button type="button" class="starreview btn btn-warning btn-xs star-btn" aria-label="Left Align" data-cd-starnum="1">
          <i class="material-icons">star</i>
          </button>
          <button type="button" class="starreview btn btn-warning btn-xs" aria-label="Left Align" data-cd-starnum="2">
          <i class="material-icons">star</i>
          </button>
          <button type="button" class="starreview btn btn-warning btn-xs" aria-label="Left Align" data-cd-starnum="3">
          <i class="material-icons">star</i>
          </button>
          <button type="button" class="starreview btn btn-default btn-grey btn-xs" aria-label="Left Align" data-cd-starnum="4">
          <i class="material-icons">star</i>
          </button>
          <button type="button" class="starreview btn btn-default btn-grey btn-xs" aria-label="Left Align" data-cd-starnum="5">
          <i class="material-icons">star</i>
          </button>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    <table>
    <!-- {{ form.as_table }} -->
    <span class = "formStyles">{{form.starRating}}</span>

    <!-- <value for="id_starRating">2</value> -->
    <h5>What grade did you recieve in this class?</h5>
    <span class = "formStyles">{{form.gradeReceived}}</span>
    <h5>Review Title</h5>
    <span class = "formStyles">{{form.title}}</span>
    <h5>Review</h5>
    <span class = "formStyles">{{form.text}}</span>
    <!-- <span class = "formStyles">{{form.tags}}</span> -->
    </table>
    <input class="btn btn-primary btn-lg" type="submit" value="Submit Review">
    <!-- <input type="submit" value="Submit Review"> -->
  <!--   <input type="submit" value="Submit Review" class="btn btn-primary btn-lg btn-block" id="submit-btn"> -->
  </form>

<div class="form-group">
  	<input type="text" id="starreviewInput" style="display: none;"></input>
  </div> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/writereview.js' %}"></script>

{% endblock %}